@model IEnumerable<Boletim.PROFMATERIATURMA>

@{
    ViewBag.Title = "Index";
}
<br />
<h2> Listagem de Atribuição</h2>
<br />
<p>
    @Html.ActionLink("Adicionar", "Create", new { }, new { @class = "btn btn-success" })
</p>
<br />
<table class="table">
    <tr>
        <th>
            NOME DA MATERIA
        </th>
        <th>
            NOME DO PROFESSOR
        </th>
        <th>
            TURMA
        </th>
        <th>
            PERIODO 
        </th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.MATERIA.NOME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.PROFESSOR.NOME)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TURMA.SERIE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.TURMA.PERIODO_LET)
    </td>
    <td>
    <td>
        @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-warning" })
        @Html.ActionLink("Detalhar", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" })
        @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })

    </td>
</tr>
}

</table>
