@model Boletim.ALUNO_ATIVIDADE

@{
    ViewBag.Title = "Details";
}

<h2>Detalhe</h2>

<div>
    <h4>ALUNO_ATIVIDADE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NOTA)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTA)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ALUNO.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ALUNO.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ATIVIDADE.NOME_ATIVIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATIVIDADE.NOME_ATIVIDADE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |

    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-primary" })
</p>
