@model Boletim.ATIVIDADE_PROFMT

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>ATIVIDADE_PROFMT</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ATIVIDADE.NOME_ATIVIDADE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ATIVIDADE.NOME_ATIVIDADE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MATERIA.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MATERIA.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PROFESSOR.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PROFESSOR.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TURMA.SERIE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TURMA.SERIE)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
