@model IEnumerable<Boletim.ATIVIDADE_PROFMT>

@{
    ViewBag.Title = "Index";
}
<br />
<h2>Listagem de atribuição </h2>
<br />
<h3>@ViewBag.Materia.NOME / @ViewBag.Turma.SERIE / @ViewBag.Turma.PERIODO_LET</h3>

<p>
    @Html.ActionLink("Adicionar ", "Create", new { }, new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            NOME DA ATIVIDADE
        </th>
        <th>
            DATA DE ENTREGA
        </th>
        <th>
           TIPO
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ATIVIDADE.NOME_ATIVIDADE)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ATIVIDADE.DATA_ENTREGA)
    </td>
    <td>
        @{
            var tipo = "";
        }

        @if (item.ATIVIDADE.TIPO_ATIVIDADE == 0)
        {
            tipo = "DIVERSIFICADA";
        }
        else if (item.ATIVIDADE.TIPO_ATIVIDADE == 1)
        {
            tipo = "OBRIGATÓRIA";
        }
        else if (item.ATIVIDADE.TIPO_ATIVIDADE == 2)
        {
            tipo = "ATITUDINAL";
        }

        @tipo
    </td>

    <td>
        @Html.ActionLink("Editar", "Edit", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Detalhar", "Details", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-primary" }) |
        @Html.ActionLink("Deletar", "Delete", new { /* id=item.PrimaryKey */ }, new { @class = "btn btn-danger" })
    </td>

</tr>
}

</table>
<div>
    @Html.ActionLink("Voltar", "Listagem","PROFMATERIATURMA", new { }, new { @class = "btn btn-primary" })
</div>