@model Boletim.PROFESSOR

@{
    ViewBag.Title = "Details";
}
<br />
<h2>Detalhe</h2>

<div>
    <h4>PROFESSOR</h4>
    <hr />
    <dl class="dl-horizontal">



        <dt>
            @Html.DisplayNameFor(model => model.NOME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Usuario.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Usuario.Email)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "EditProfessor", new { id = Model.COD_PROF }, new { @class = "btn btn-warning" })  |

    @Html.ActionLink("Voltar", "Index", new { }, new { @class = "btn btn-primary" })
</p>
